.one .design {
    color: #61dafb;
}

.one h3 {
    text-decoration: 1.5px solid var(--logoColor) underline;
    text-underline-offset: 6px;
}

@media screen and (max-width: 600px) {
    .one p {
        font-size: 0.8rem;
    }
}