.useReducerHooks h2 {
    text-decoration: 0.5px white underline;
    text-underline-offset: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.useReducerHooks h1 {
    /* background-color: #61dafb; */
    width: fit-content;
    border: 0.5px solid #61dafb;
    border-radius: 1.5rem;
    padding: 0.2rem 1.3rem;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    /* color: black; */
}

.useReducerHooks .design {
    color: #61dafb;
}

.useReducerHooks h3 {
    border: 0.5px solid var(--logoColor);
    width: 17rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0 0.7rem;
}

.useReducerHooks .videoCont {
    border: 1px solid var(--borderGrey);
    border-radius: 1rem;
    padding: 1rem 0rem;
    display: flex;
    width: 100%;
    margin: 0.5rem 0rem;
}

.useReducerHooks .videoPlayer {
    /* border: 1px solid yellow; */
    width: 50%;
}

.useReducerHooks .desc {
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    width: 50%;
}

.useReducerHooks .Note {
    font-size: 1.3rem;
    color: var(--noteColor);
    /* color: black; */
    font-weight: 600;
    /* background-color: var(--noteColor); */
    text-decoration: 0.7px solid rgb(255, 255, 255) underline;
    text-underline-offset: 6px;
}

.useReducerHooks .example {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    color: rgb(15, 188, 249);
    font-weight: 500;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .useReducerHooks .videoCont {
        border: 1px solid var(--borderGrey);
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        /* padding: 1rem 0rem; */
        display: flex;
        width: 100%;
    }
    .videoCont {
        flex-direction: column;
    }
    .useReducerHooks .videoPlayer {
        /* border: 1px solid yellow; */
        width: 95%;
        margin-bottom: 0.7rem;
    }
    .useReducerHooks .desc {
        width: 95%;
    }
    .useReducerHooks .Note {
        font-size: 1rem;
        color: var(--noteColor);
        /* color: black; */
        font-weight: 600;
        /* background-color: var(--noteColor); */
        text-decoration: 0.7px solid rgb(255, 255, 255) underline;
        text-underline-offset: 6px;
    }
}