.reactFront {
    margin-bottom: 0.2rem;
}

.reactFront h1 {
    width: fit-content;
    border: 0.5px solid #61dafb;
    border-radius: 1.5rem;
    padding: 0.2rem 1.3rem;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.reactFront p {
    margin-bottom: 0.3rem;
}

.reactFront h2 {
    text-decoration: 0.5px solid white underline;
    text-underline-offset: 4px;
    margin-bottom: 0.4rem;
}

@media screen and (max-width: 600px) {
    .reactFront {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}