/* .accContainer {
    background-color: var(--color-bg-night);
    background-color: rebeccapurple;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
} */

#accContainer {
    background-color: var(--color-bg-night);
    border: 0.5px solid rgba(255, 255, 255, 0.404);
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

#accContainer .accordionTitle {
    color: var(--color-light);
}

#accContainer .accordion {
    color: var(--color-light);
    margin-bottom: 0.4rem;
}

.whyReact h1 {
    width: fit-content;
    border: 0.5px solid #61dafb;
    border-radius: 1.5rem;
    padding: 0.2rem 1.3rem;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}


/* media query for small srceen  */

@media screen and (max-width: 600px) {
    .whyReact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #accContainer .accordionTitle {
        font-size: 0.9rem;
    }
    #accContainer .accordion {
        font-size: 0.8rem;
    }
}